.chatbot-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (top) of the container */
    align-items: center;
    
    padding-bottom: 40px;
    margin: 0;
}


.chatbot-container input[type="text"],
.chatbot-container select,
.chatbot-container input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--off);
   
}

.chatbot-container button {
    width: 100%;
    background-color: var(--green);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chatbot-container button:hover {
    background-color: #45a049;
}


.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 80%;
   
}

.message.user {
    align-self: flex-start;
    background-color: var(--green);
    margin-left: 10px;
    /* Ensures that color is set to white */
}

.message.bot {
    align-self: flex-end;
    background-color: var(--off);
    margin-right: 10px;
    width: 100%;
   /* Ensures that color is set to white */
}

.chat-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 70vh; /* Adjust this value as per your design needs */
    overflow-y: auto; /* Enables scrolling */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 4px;
    padding: 10px;
    overflow-y: scroll;
    padding-right: 20px;
    padding-left: 20px;
}


.chat-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.custom-form {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ai-mode-checkbox {
    margin: 10px;
}

/* Additional styles for the names over the chat history */


.choosepersons{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.choosepersons > .chooseperson{
   padding: 2.5rem;
}

.names {
    margin-top: -4rem;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust this value based on your desired spacing */
  }
  
.aimodebox{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    margin-left: auto;
   gap: 10px;
  

}



.chatbox{
    
    display: flex; 
    flex-direction:row ;
    width:95%;
    justify-content: space-between;
    gap:10px;
    padding: 20px;
    margin-left: 10px;
    
    position: fixed;
    left: 0;
    bottom: 0;
    
}

.chat-button{flex:5;
padding-left: 2rem;}

.chat-input{flex:50;
    padding-right: 2rem;}

.langbox{display:flex;
align-items: center;
padding-right: auto;
}

.langlabel{margin-right: 5px;}

.startbox > * {
    flex: 1 1 0; /* This tells the items to evenly distribute the space */
    margin-left: 20px;
    margin-right: 20px; /* This adds margin around each item */
}

/* Ensure the AI Mode button does not move when pressed */
.ai-mode-checkbox:focus,
.ai-mode-checkbox:active {
    outline: none; /* Remove outline */
    transform: none; /* Ensure the checkbox does not move */
}

.startbox {
    display: flex;
    align-items: center;
    justify-content: center; /* aligns items horizontally in the center */
    width: 95%;
    gap: 5rem;
   
}

.create-person-button{flex:1;}

.createpersonbutton{display: flex;
align-items: center;
gap: 10px;}

.help{flex:0;}




.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Change mouse cursor to pointer on hover over the icon */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 150%; /* Place the tooltip below the text */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip */
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Place arrow at the top of tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
  
  /* Add a little space between the icon and the tooltip text */
  .tooltip .fa-question-circle {
    margin-right: 10px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



@media only screen and (max-width: 900px) {
    
    .startbox {
        flex-direction: column;
        align-items: center;
    }
.create-person-button{
    
    width: 65rem;
    color: blueviolet;
}
  }