body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;

  --green: #00A67E;
  --main: #343541;
  --off: #40414f;
  --offtext: #8C8D9F;
  --text :#D1D5DB;
  min-height: 100%;
  background-color: var(--main);
}

*{/*border: 1px solid red;*/
color: var(--text)}

.chat-history * {
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


